
backend/target/
backend/!.mvn/wrapper/maven-wrapper.jar
backend/logs/
backend/smartpicker/logs/
*.class
*.jar
*.war
*.ear
*.nar

backend/lockers_snapshot.json


frontend/node_modules/
frontend/dist/
frontend/dist-ssr/
frontend/*.local
frontend/.env
frontend/.env.*
frontend/.env.local

scripts/venv

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


.idea/
.vscode/
*.iml
*.iws
*.ipr
.DS_Store
Thumbs.db